* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table#AccountOverview td:nth-child(6n+3), table#AccountOverview td:nth-child(6n+4) {
    text-align: right;
}

table.banded tr:nth-child(2n+1) {
    background: rgb(220, 220, 220);
}

.messages li {
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.messages .success {
    background: green;
    color: white;
}

.messages .error {
    background: red;
    color: white;
}

.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}