{% extends 'base.html' %}

{% load ledger_tags %}

{% block title %}Account Activity - {{ account }}{% endblock title %}

{% block content %}
<h1>Account: {{ account }}</h1>
<dl>
    <dt>Kind</dt>
    <dd>{{ account.get_kind_display }}</dd>

    <dt>Opening Date</dt>
    <dd>{{ account.opening_date|date:"SHORT_DATE_FORMAT" }}</dd>

    {% if account.parent %}
    <dt>Parent Account</dt>
    <dd><a href="{% url 'ledger:account_overview' company_pk=company.pk pk=account.parent_id %}">{{ account.parent }}</a></dd>
    {% endif %}

    {% if account.children.count %}
    <dt>Child Accounts</dt>
    <dd>
        <ul>
            {% for child in account.children.all %}
            <li><a href="{% url 'ledger:account_overview' company_pk=company.pk pk=child.pk %}">{{ child }}</a></li>
            {% endfor %}
        </ul>
    </dd>
    {% endif %}

    <dt>Current Balance</dt>
    <dd>{{ account.balance|as_currency }}</dd>
</dl>

<h2>Activity</h2>
<table id="AccountOverview" class="banded">
    <thead>
        <tr>
            <th>Account</th>
            <th>Date</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
            <th>Notes</th>
            <th>Transaction</th>
        </tr>
    </thead>
    <tbody>
        {% for row in activity %}
        <tr>
            <td><a href="{% url 'ledger:account_overview' company_pk=company.pk pk=row.account.pk %}">{{ row.account }}</a></td>
            {% if row.date %}
            <td>{{ row.date|date:"SHORT_DATE_FORMAT" }}</td>
            {% else %}
            <td>{{ row.transaction.date|date:"SHORT_DATE_FORMAT" }}</td>
            {% endif %}
            <td>{{ row.credit|as_currency }}</td>
            <td>{{ row.debit|as_currency }}</td>
            <td>{{ row.balance|as_currency }}</td>
            <td>{{ row.notes|default:"" }}</td>
            {% if row.transaction %}
            <td><a href="{% url 'ledger:transaction_detail' company_pk=company.pk pk=row.transaction.pk %}">View Transaction</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Balance</th>
            <td colspan="4">{{ account.balance|as_currency }}</td>
        </tr>
    </tfoot>
</table>
{% endblock content %}