{% extends 'base.html' %}

{% block title %}Recurring Transactions{% endblock title %}

{% block content %}
<h1>Recurring Transactions</h1>
<table class="banded">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in recs %}
        <tr>
            <td>{{ rec }}</td>
            <td><a href="{% url 'ledger:submit_transaction' company_pk=company.pk %}?rec_trans_pk={{ rec.pk }}">Prepare Transaction</a></td>
            <td><a href="{% url 'ledger:edit_recurring_transaction' company_pk=company.pk rec_trans_pk=rec.pk %}">Edit Recurring Transaction</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}